name: Docker CI

on:
  push:
    branches:
      - main
    paths: 
      - "src/**"
      - "tests/**"
  
  pull_request:
    paths: 
      - Dockerfile
      - "src/**"
      - "tests/**"
  
  workflow_dispatch:

jobs:
  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  build:
    name: Build image
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Repository Owner Lower
        id: repository_owner_lower
        uses: ASzc/change-string-case-action@v6
        with:
          string: "${{github.repository_owner}}"
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Install Buildx
        id: docker-buildx
        uses: docker/setup-buildx-action@v3
        with: 
          version: latest
      
      - name: Docker Build
        id: docker-build-push
        uses: docker/build-push-action@v6
        with:
          builder: ${{steps.docker-buildx.outputs.name}}
          context: .
          platforms: linux/arm64,linux/amd64
          target: test