name: Docker CI

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - main
    paths: 
      - "src/**"
      - "tests/**"

  release:
    types:
      - published
  
  workflow_dispatch:

env:
  IMAGE_NAME: "towerbridge"
  DOCKERHUB_REGISTRY: "docker.io"
  GITHUB_REGISTRY: "ghcr.io"

jobs:
  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  build:
    name: Build image and push
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Repository Owner Lower
        id: repository_owner_lower
        uses: ASzc/change-string-case-action@v2
        with:
          string: "${{github.repository_owner}}"
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      
      - name: Install Buildx
        id: docker-buildx
        uses: docker/setup-buildx-action@v1.0.2
        with: 
          version: latest

      - name: Docker Metadata
        id: docker-metadata
        uses: docker/metadata-action@v4.0.1
        with:
          flavor: |
            latest=auto
          images: |
            ${{env.DOCKERHUB_REGISTRY}}/${{secrets.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}
            ${{env.GITHUB_REGISTRY}}/${{secrets.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}
          tags: |
            type=ref,event=tag
            type=sha
            type=raw,value=ci
      
      - name: Docker Hub login
        id: dockerhub-login
        uses: docker/login-action@v1.4.1
        with: 
          registry: "${{env.DOCKERHUB_REGISTRY}}"
          username: "${{secrets.DOCKERHUB_USERNAME}}"
          password: "${{secrets.DOCKERHUB_PASSWORD}}"
          
      - name: GHCR login
        id: github-login
        uses: docker/login-action@v1.4.1
        with: 
          registry: "${{env.GITHUB_REGISTRY}}"
          username: "${{github.repository_owner}}"
          password: "${{github.token}}"
      
      - name: Docker build and push
        id: docker-build-push
        uses: docker/build-push-action@v2.3.0
        with:
          builder: ${{steps.docker-buildx.outputs.name}}
          context: .
          platforms: linux/arm64,linux/arm/v7,linux/amd64
          push: true
          labels: ${{steps.docker-metadata.outputs.labels}}
          tags: ${{steps.docker-metadata.outputs.tags}}
          
      - name: Docker Hub Description
        id: docker-description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PASSWORD}}
          repository: ${{secrets.DOCKER_USERNAME}}/${{env.IMAGE_NAME}}
          readme-filepath: ./README.md
        
      - name: Image digest
        run: echo ${{steps.build-push.outputs.digest}}
